Appearance: <input class="prop" name="CHR" style="width:300px;" value="5" >(CHR)<br/>
Intelligence: <input class="prop" name="INT" style="width:300px;" value="5" >(INT)<br/>
Physique: <input class="prop" name="STR" style="width:300px;" value="5" >(STR)<br/>
Family background: <input class="prop" name="MNY" style="width:300px;" value="5" >(MNY)<br/>
Happy: <input class="prop" name="SPR" style="width:300px;" value="5" >(SPR)<br/>
Life: <input class="prop" name="LIF" style="width:300px;" value="5" >(LIF)<br/>
Talent: <input class="prop" name="TLT" style="width:300px;" value="[5]" >(TLT)<br/>
Event: <input class="prop" name="EVT" style="width:300px;" value="[5]" >(EVT)<br/>
<br/><br/>
Expression: <input id="conditions" style="width:500px;"><br/><br/>
Result: <span id="result" style="color:red;"></span><br/><br/>
<button id="submit">&nbsp;Test&nbsp;&nbsp;Try&nbsp;</button><br/>

<script>
     const DEFAULT_PROP = {
         CHR: 5, // Charm CHR
         INT: 5, // intelligence intelligence INT
         STR: 5, // Constitution strength STR
         MNY: 5, // Family money MNY
         SPR: 5, // happy spirit SPR
         LIF: 5, // life life LIF
         TLT: [5], // talent talent TLT
         EVT: [5], // event event EVT
     };
     document.querySelector("#submit").onclick = function() {
         document.querySelectorAll('.prop').forEach(({name, value})=>DEFAULT_PROP[name] = JSON.parse(value));
         conditions = document. querySelector("#conditions"). value;
         const result = check(conditions);
         document.querySelector("#result").textContent = result;
     }

     function getProp(prop) {
         switch(prop) {
             case 'CHR':
             case 'INT':
             case 'STR':
             case 'MNY':
             case 'SPR':
             case 'LIF':
             case 'TLT':
             case 'EVT': return DEFAULT_PROP[prop];
             default: return null;
         }
     }

     function check(condition) {
         const conditions = parseCondition(condition);
         return checkParsedCondition(conditions);
     }

     function checkParsedCondition(conditions) {
         if(!Array.isArray(conditions)) return checkLogic(conditions);
         if(conditions. length == 0) return true;
         if(conditions. length == 1) return checkParsedCondition(conditions[0]);

         let ret = checkParsedCondition(conditions[0]);
         for(let i=1; i<conditions. length; i+=2) {
             switch(conditions[i]) {
                 case '&':
                     if(ret) ret = checkParsedCondition(conditions[i+1]);
                     break;
                 case '|':
                     if(ret) return true;
                     ret = checkParsedCondition(conditions[i+1]);
                     break;
                 default: return false;
             }
         }
         return ret;

     }

     function checkLogic(condition) {
         const length = condition. length;
         let i = condition.search(/[><\!\?=]/);

         const prop = condition. substring(0,i);
         const symbol = condition.substring(i, i+=(condition[i+1]=='='?2:1));
         const d = condition. substring(i, length);

         const propData = getProp(prop);
         const conditionData = d[0]=='['? JSON. parse(d): Number(d);

         switch(symbol) {
             case '>': return propData > conditionData;
             case '<': return propData < conditionData;
             case '>=': return propData >= conditionData;
             case '<=': return propData <= conditionData;
             case '=':
                 if(Array. isArray(propData))
                     return propData. includes(conditionData);
                 return propData == conditionData;
             case '!=':
                 if(Array. isArray(propData))
                     return !propData.includes(conditionData);
                 return propData == conditionData;
             case '?':
                 if(Array. isArray(propData)) {
                     for(const p of propData)
                         if(conditionData. includes(p)) return true;
                     return false;
                 }
                 return conditionData. includes(propData);
             case '!':
                 if(Array. isArray(propData)) {
                     for(const p of propData)
                         if(conditionData. includes(p)) return false;
                     return true;
                 }
                 return !conditionData.includes(propData);

             default: return false;
         }
     }

     function parseCondition(condition) {
         const conditions = [];
         const length = condition. length;
         const stack = [];
         stack. unshift(conditions);
         let cursor = 0;
         const catchString = i => {
             const str = condition.substring(cursor, i).trim();
             cursor = i;
             if(str) stack[0].push(str);
         };

         for(let i=0; i<length; i++) {
             switch(condition[i]) {
                 case ' ': continue;

                 case '(':
                     catchString(i);
                     cursor ++;
                     const sub =
